/* POP-UP DE ENTRADA */
#popup-entrada {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9998; /* Deixei um z-index menor que o de saída, por organização */
  padding: 20px;
  box-sizing: border-box;
}
#popup-entrada .popup {
  background: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#popup-entrada .popup-content img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
}
#popup-entrada .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}