{# Set tray variables to more semantic variables #}
{% set filters_available = filter_options %}
{% set applied_filters = filtered_options %}

{% set filter_titles = {
    'categories'   : 'Categorias',
    'availability' : 'Disponibilidade',
    'brands'       : 'Marcas'
} %}

{% set filter_type_key = {
    'categories'   : 'categories',
    'availability' : 'availability',
    'brands'       : 'brand'
} %}

<form class="smart-filter" name="form-filter" method="get">

    <input type="hidden" name="loja" value="{{ store.id }}">

    {% if search.word %}
        <input name="palavra_busca" type="hidden" value="{{ search.word }}">
    {% endif %}

    {% if category.id %}
        <input type="hidden" name="categoria" value="{{ category.id }}">
    {% endif %}
    
    <div class="filters">
        
        {% for filter_type, filter_data in filters_available %}
            {% if filter_type == 'properties' %}
                {% for property in filter_data.values %}
                    <section class="filter-block filter-block-properties" data-filter-type="{{ property.key | lower }}">
                        <div class="filter-title active">
                            <span>{{ property.key }}</span>
                            <i></i>
                        </div>
                        <ul class="filter-list">
                            {% for item in property.values %}
                                {% set item_type = item.entity == 'variants' ? 'variant' : 'propertie' %}
                                {% set label_for = 'property-' ~ property.key ~ '||' ~ item.key %}
                                {% set value = property.key ~ '||' ~ item.key %}
                                {% set value_encoded = property.key_encoded ~ '||' ~ item.key_encoded %}
                                <li class="filter-item">
                                    <div class="filter-checkbox">
                                        <input type="checkbox" class="filter-input" id="{{ label_for | lower }}" name="{{ item.entity }}[]" value="{{ value_encoded }}" {% if value in applied_filters[item_type] -%} checked {%- endif %}>
                                        <label class="filter-label" for="{{ label_for | lower }}">
                                            <span class="filter-name">{{ item.key }}</span>
                                            <span class="filter-count">({{ item.doc_count }})</span>
                                        </label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                {% endfor %}
            {% else %}
                <section class="filter-block filter-block-{{ filter_type }}">
                    <div class="filter-title active">
                        <span>{{ filter_titles[filter_type] }}</span>
                        <i></i>
                    </div>
                    <ul class="filter-list">
                        {% for item in filter_data %}
                            <li class="filter-item">
                                <div class="filter-checkbox">
                                    <input type="checkbox" class="filter-input" id="{{ filter_type ~ '-' ~ item.key | lower }}" name="{{ filter_type }}[]" value="{{ item.key_encoded }}" {% if item.key in applied_filters[filter_type_key[filter_type]] %} checked {% endif %}>
                                    <label class="filter-label" for="{{ filter_type ~ '-' ~ item.key | lower }}">
                                        <span class="filter-name">{{ item.key }}</span>
                                        <span class="filter-count">({{ item.doc_count }})</span>
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% endfor %}
    </div>

    {# Filtro de preço manual #}
    <section class="filter-block filter-block-prices">
        <div class="filter-title active">
            <span>Preço</span>
            <i></i>
        </div>
        <div class="manual-price-filter">
            <p><strong>Filtrar por valor:</strong></p>
            <div class="price-inputs">
                <div class="input-wrapper">
                    <input type="number" id="price-min" placeholder="mínimo" min="0">
                </div>
                <div class="input-wrapper">
                    <input type="number" id="price-max" placeholder="máximo" min="0">
                </div>
            </div>
            <div id="price-error" class="price-error hidden"></div>
        </div>
    </section>

    {# Botões principais de ação #}
    <div class="main-filter-buttons">
        <button type="submit" id="main-filter-button" class="filter-button">Aplicar Filtros</button>
        {# O href="#" impede o redirecionamento. O JavaScript vai controlar este botão. #}
        <a href="#" id="clear-all-filters" class="filter-clear">Limpar Filtros</a>
    </div>

</form>